body {
    background-color: #002856;
    color: #ECAA00;
    overflow: hidden;
}

.main {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.parent {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: inherit;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

.park {
    height: inherit;
    margin: 10px;
    width: 20%;
    border: 1px solid #fff;
}

.park h1 {
    text-align: start;
}

.park img {
    width: 70%;
    height: 70%;
    margin-bottom: 5px;
    align-items: center;
    display: inline
}

.park a {
    color: #ECAA00;
}