body {
    background-color: #002856;
    color: #ECAA00;
}

.main {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.tour {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.card {
    display: flex;
    flex-flow: column;
    text-align: start;
    flex: 25%;
    background-color: #e1d1a7;
    color: #75391c;
    padding: 1pc;
}

.card h1 {
    text-align: center;
    color: #75391c;
}

.card .row {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: fill;
}

.row {
    margin: -5px;
}